.Rproj.user
.Rhistory
.RData
.Ruserdata
output/CellRanger/*.cloupe
*/obsolete
*/*/obsolete
*/*/*/obsolete
data/Homo_sapiens.gene_info
data/SCEs/*.rds
!data/SCEs/03_COMBO.clustered_azimuth*
!data/SCEs/*nuclear_fraction*.rds
!data/SCEs/emptyDrops
data/GSE127465_RAW
data/CellRanger
data/190930_A00152_0150_BHTYCMDSXX
data/cellsnp-lite
data/cellsnp-lite-revised
extdata/
wflow_background.R
rename_captures.R
